.Content {
  width: 1239px;
  height: 1951px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex
}

.Sectionwrapper {
  align-self: stretch;
  height: 626px;
  background: #D4F6F5;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex
}

.Sectionone {
  align-self: stretch;
  height: 626px;
  padding-top: 102px;
  padding-left: 91.50px;
  padding-right: 91.50px;
  justify-content: center;
  align-items: center;
  display: inline-flex
}

.Landingwritten {
  flex: 1 1 0;
  align-self: stretch;
  padding-top: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex
}

.Landingcontent {
  align-self: stretch;
  height: 286px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  display: flex
}

.Landingsubhead {
  color: black;
  font-size: 25px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 31px;
  word-wrap: break-word;

}

.Landinghead {
  color: black;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 31px;
  word-wrap: break-word;

}

.Landingbulk {
  width: 504px;
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;

}

.Planbutton {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #28D2CF;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex
}

.Planbuttontext {
  width: 152px;
  height: 25px;
  text-align: center;
  color: #F2FCFC;
  font-size: 17px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 31px;
  word-wrap: break-word;

}

.Landingwritten {
  flex: 1 1 0;
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: inline-flex
}

.Firstimage {
  width: 821px;
  height: 510.93px;
}

.Sectionwrapper {
  align-self: stretch;
  height: 498px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex
}

.Sectiontwo {
  align-self: stretch;
  height: 498px;
  padding-top: 180px;
  padding-left: 91px;
  padding-right: 91px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex
}

.Enoughcontainer {
  align-self: stretch;
  background: #D4F6F5;
  border-radius: 20px;
  overflow: hidden;
  justify-content: space-between;
  align-items: flex-start;
  display: inline-flex
}

.Enoughcontainercontent {
  flex: 1 1 0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: inline-flex
}

.Enoughheading {
  align-self: stretch;
  color: black;
  font-size: 21px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 31px;
  word-wrap: break-word;

}

.Enoughbody {
  align-self: stretch;
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;

}

.Enoughcontainerimage {
  justify-content: flex-end;
  align-items: center;
  display: flex
}

.Secondimage {
  width: 845px;
  height: 636.22px;
}

.Sectionwrapper {
  align-self: stretch;
  height: 400px;
  padding-left: 91px;
  padding-right: 91px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex
}

.Sectionthree {
  align-self: stretch;
  height: 400px;
  padding-top: 69px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex
}

.Changesection {
  flex: 1 1 0;
  align-self: stretch;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  display: inline-flex
}

.Changeheading {
  align-self: stretch;
  color: black;
  font-size: 21px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 31px;
  word-wrap: break-word;

}

.Changebody {
  align-self: stretch;
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;

}

.Truesection {
  flex: 1 1 0;
  align-self: stretch;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  display: inline-flex
}

.Trueheading {
  align-self: stretch;
  color: black;
  font-size: 21px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 31px;
  word-wrap: break-word;

}

.Truebody {
  align-self: stretch;
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;

}

.Sectionwrapper {
  align-self: stretch;
  height: 400px;
  padding-left: 91px;
  padding-right: 91px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex
}

.Sectionfour {
  align-self: stretch;
  height: 400px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex
}

.Savingcontainer {
  align-self: stretch;
  height: 400px;
  background: #D4F6F5;
  border-radius: 20px;
  overflow: hidden;
  justify-content: space-between;
  align-items: flex-start;
  display: inline-flex
}

.Savingcontainercontent {
  flex: 1 1 0;
  align-self: stretch;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 25px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex
}

.Savingheading {
  align-self: stretch;
  height: 37px;
  color: black;
  font-size: 21px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 31px;
  word-wrap: break-word;

}

.Savingbody {
  align-self: stretch;
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;

}

.Savingimage {
  justify-content: flex-end;
  align-items: center;
  display: flex
}

.Image12 {
  width: 609.52px;
  height: 414px;
}